# Pycham File
.idea
.idea/*
__pycache__

# Python Virtual env
venv
venv/*

# Crawling result CSV
Ethereum_Transaction.csv

# Debugging html
index*.html

# Crawling Config
CrawlingConfig.py

# Error Html Data
error.html